<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Components</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="components/autocomplete">Autocomplete</a>
      <a mat-list-item routerLink="components/badge">Badge</a>
      <a mat-list-item routerLink="components/button">Button</a>
      <a mat-list-item routerLink="components/bottom-sheet">Bottom Sheet</a>
      <a mat-list-item routerLink="components/button-toggle">Button Toggles</a>
      <a mat-list-item routerLink="components/card">Card</a>
      <a mat-list-item routerLink="components/checkbox">Checkbox</a>
      <a mat-list-item routerLink="components/chips">Chips</a>
      <a mat-list-item routerLink="components/datepicker">Datepicker</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angular-material-components</span>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
